Header:
- User info (name, photo).
- Logged in/logged out.

- List of questions:
    (Ordered by most recent ones...)
    - [DEFAULT] Unanswered.
    - Answered

- 404 if not found
- Detail page for a question:
    - questions/:question_id
    - UI:
        <Unanswered>
            Text “Would You Rather”;
            Avatar of the user who posted the polling question; and
            Two options.
        <Answered>
            <Mark the option selected by the User>
            <User are not allowed to change the answer>
            Results of the two options.
                - X votes for A
                - Y votes for Y
            
            
            For answered polls, each of the two options contains the following:
- Create new poll:
    - /add
    - UI:
        text “Would You Rather”
        form for creating two options
        on success... redirect to home.
- /leaderboard
    - Info:
        - User’s name;
        - User’s picture;
        - Number of questions the user asked; and
        - Number of questions the user answered
    - descending order based on the sum of the number of questions they’ve asked
        and the number of questions they’ve answered.

    The more questions you ask and answer, the higher up you move.


The user should be able to navigate to the leaderboard, to a specific question, and to the form that allows the user to create a new poll both from within the app and by typing in the address into the address bar. To make sure we’re showing the data that is relevant to the user, the application should require the user to be signed in order to access those pages.






Text of the option;
Number of people who voted for that option; and
Percentage of people who voted for that option
    



In your app, users will be able to:
- Create question.
- Answer question.
- List of unanswered questions.
- see how other people have voted,
- Leaderboard. List of users ranked with points.

- Login...
- Checked if loggen in user. If so, then redirect to the requestsed page.


