.question-detail-page {
    padding-top: 1em;

    &__wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 250px;
        bottom: 0;
    }

    &__options {
        height: 100%;
        align-items: center;
        align-content: center;
        width: 100%;
        position: absolute;
        top: 0%;
        bottom: 0%;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            width: 50%;
            flex: 1 1 auto;
            list-style: none;
            height: 100%;
            margin: 0;
            padding: 0;
            position: relative;
        }
    }
}