// TODO: This is also used in Question.scss
// Move to a constant file.
$option-1-color: #ee0021;
$option-2-color: #0086e2;

.question-card {
    a {
        border: 2px solid #cecece;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: 2em;
    }

    &__author {
        max-width: 55%;
        border-radius: 60px;
        border: 1px solid #cecece;
        align-items: center;
        display: inline-flex;

        img {
            height: 40px;
            border-radius: 100%;
            margin-right: 1em;
        }
    }

    &__title {
        font-size: 1.5em;
        text-align: center;
        margin-top: 1em;
    }

    &__options {
        align-items: center; 
        display: flex;
        margin: 0;
        padding: 0;

        li {
            font-weight: bold;
            color: #fff;
            border-radius: 5px;
            flex: 1 1 auto;
            list-style: none;
            text-align: center;
            padding: 3em 0.5em;

            &:nth-child(1) {
                width: 50%;
                background: $option-1-color;
            }

            &:nth-child(2) {
                color: #000;
                flex: 0 0 auto;
                padding: 2em;
            }

            &:nth-child(3) {
                width: 50%;
                background: $option-2-color;
            }
        }
    }
}