body {
  color: #000;
}

.app {

}

* {
  color: #000;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1em 0;

  &__wrapper {
    
  }
}